body {
  background: radial-gradient(circle at center, #000000, #000000 60%, #000000);
  font-family:'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.clock {
  text-align: center;
}

#time {
  font-size: 60px;
  color: #25d0ff;
  text-shadow:
    
    0 0 12px #0d3aff;
  letter-spacing: 3px;
  margin: 0;
}

#date {
  font-size: 22px;
  color: #15c4ff;
  text-shadow:
    0 0 8px #095669,
    0 0 16px #2eabff;
  margin-top: 10px;
  letter-spacing: 1.5px;
}
